<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}welcome">About</a></li>
    <li class="nav-projects" role="menuitem"><a href="{{site.baseurl}}tag/projects">Projects</a></li>
    <li class="nav-competitive-programming" role="menuitem"><a href="{{site.baseurl}}tag/codes">Codes</a></li>
    <li class="nav-contact" role="menuitem"><a href="{{site.baseurl}}contact">Contact</a></li>
</ul>
